html,
body {
    padding: 0;
    margin: 0;
}

:root {
    --button-hover-color: yellow;
}

body {
    width: 100%;
    height: 100vh;
    background-color: white;
    display: grid;
    /*Desktop*/
    @media (min-aspect-ratio: 1/1) {
        grid-template-columns: 1fr minmax(600px, 1000px) 1fr;
    }
    /*Mobile*/
    @media (max-aspect-ratio: 1/1) {
        grid-template-columns: 0fr 20fr 0fr;
        background-color: #C5CED7;
    }
    grid-template-rows: 1fr 6fr 1fr;
}

#main {
    /*max-width: 1200px;*/
    grid-column: 2;
    grid-row: 2;
    display: grid;
    /*Desktop*/
    @media (min-aspect-ratio: 1/1) {
        min-width: 600px;
        grid-template-rows: 2fr 12fr 1fr;
        max-height: 600px;
    }
    /*Mobile*/
    @media (max-aspect-ratio: 1/1) {
        grid-template-rows: 1fr 13fr;
        max-height: 100vh;
    }
    background-color: #C5CED7;
}

#mainHead {
    grid-row: 1;
    display: grid;
    @media (min-aspect-ratio: 1/1) {
        grid-template-columns: 1fr minmax(300px, 10fr) 1fr minmax(300px, 10fr) 1fr;
        /*grid-template-columns: 1fr 10fr 1fr 10fr 1fr;*/
    }
    /*Mobile*/
    @media (max-aspect-ratio: 1/1) {
        grid-template-columns: 1fr 10fr 1fr 10fr 1fr;
    }

    grid-template-rows: 2fr 4fr 1fr;
    text-align: right;
}

#downloadContainer {
    grid-column: 4;
    grid-row: 2;
}

.btn {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}

#downloadButton {
    margin-left: calc(100% - 50px);
}

.icon {
    @media (min-aspect-ratio: 1/1) {
        font-size: 24px;
    }
    /*Mobile*/
    @media (max-aspect-ratio: 1/1) {
        font-size: 42px;
    }

    color: #DADAD8;
    grid-column: 2;
    grid-row: 2;

    max-height: 48px !important;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.icon:hover {
    color: coral;
}

i {
    grid-column: 2;
    grid-row: 2;
}


#mainContainer {
    /*Desktop*/
    @media (min-aspect-ratio: 1/1) {
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr minmax(300px, 10fr) 1fr minmax(300px, 10fr) 1fr;
    }
    /*Mobile*/
    @media (max-aspect-ratio: 1/1) {
        /*background-color: red;*/
        grid-row: 2;
        display: grid;
        grid-template-columns: 1fr 20fr 1fr;
        grid-template-rows: 2fr 1fr;
    }
}


#mainContainer * {
    /*background-color: greenyellow;*/
}

#playerContainer {
    /*background-color: greenyellow;*/
    overflow: hidden;
    grid-column: 2;

    display: grid;
    /*Desktop*/
    @media (min-aspect-ratio: 1/1) {
        /*grid-template-rows: minmax(100px, 5fr) 1fr minmax(40px, 2fr) minmax(40px, 2fr) minmax(40px, 1.5fr) 1fr;*/
        /*grid-template-rows: minmax(100px, 10fr) 1fr minmax(40px, 2fr) minmax(40px, 2fr) minmax(40px, 2fr) 1fr;*/
        grid-template-rows: minmax(100px, 11fr) 1fr minmax(40px, 2fr) 2fr 0fr 0fr;
        grid-row: 1;
    }
    /*Mobile*/
    @media (max-aspect-ratio: 1/1) {
        grid-template-rows: 1fr 1.5fr 2fr 1fr 1fr;
        grid-row: 2;
    }
    grid-template-columns: 1fr 20fr 1fr;
}

#selectedTextContainer {
    background-color: white;
    padding: 15px;
    /*Desktop*/
    @media (min-aspect-ratio: 1/1) {
        grid-row: 1;
    }
    /*Mobile*/
    @media (max-aspect-ratio: 1/1) {
        opacity: 0;
        display: none;
    }
}

#audioContainer {
    @media (min-aspect-ratio: 1/1) {
        grid-row: 3;
        max-height: 100px;
    }
    /*Mobile*/
    @media (max-aspect-ratio: 1/1) {
        grid-row: 2;
        max-height: 100px;
    }
}

#audio {
    /*height: 10px;*/
}

#audioProgressBar {
    margin-top: 15px;
    height: 5px;
    background-color: white;
}

#audioProgress {
    height: 5px;
    background-color: red;
    width: 0%;
    display: flex;
}

#controls {
    @media (min-aspect-ratio: 1/1) {
        grid-row: 4;
    }
    /*Mobile*/
    @media (max-aspect-ratio: 1/1) {
        grid-row: 3;
    }

    display: grid;
    /*grid-template-columns: 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr;*/
    grid-template-columns: 30px 1fr 15px 1fr 15px 1fr 15px 1fr 30px;
    grid-template-rows: 1fr;
}

#controls > * {
    background-color: #FFFFFD;
}

#hardLeftButton {
    grid-column: 1 !important;
    grid-row: 1;
}

#hardLeftButton::before {
    content: "";
    display: inline-block;
    border-left: #DADAD8 4px solid;
    height: 25px;
    width: 20px;
    position: relative;
    margin-left: 13px;
    margin-top: 10px;
}

#hardLeftButton::after {
    content: "";
    display: inline-block;
    background-color: #DADAD8;
    height: 0px;
    width: 0px;
    position: absolute;
    margin-left: -20px;
    margin-top: 12px;
    border-top: white 12px solid;
    border-right: #DADAD8 18px solid;
    border-bottom: white 12px solid;
}

#leftButton {
    grid-column: 3 !important;
    grid-row: 1;
    text-align: center;
    vertical-align: center;
    line-height: 75px;
}


#playButton {
    grid-column: 5 !important;
    grid-row: 1;
    z-index: 1;
    text-align: center;
    vertical-align: center;
    line-height: 75px;
}

#pauseButton {
    grid-column: 5 !important;
    grid-row: 1;
}

#rightButton {
    grid-column: 7 !important;
    grid-row: 1;
}

#hardRightButton {
    grid-column: 9 !important;
    grid-row: 1;
}

#hardRightButton::before {
    content: "";
    display: inline-block;
    border-left: #DADAD8 4px solid;
    height: 25px;
    width: 20px;
    position: relative;
    margin-left: 33px;
    margin-top: 10px;
}

#hardRightButton::after {
    content: "";
    display: inline-block;
    background-color: #DADAD8;
    height: 0px;
    width: 0px;
    position: absolute;
    margin-left: 15px;
    margin-top: -28px;
    border-top: white 12px solid;
    border-left: #DADAD8 18px solid;
    border-bottom: white 12px solid;
}

#volumeButton {
    grid-column: 11 !important;
    grid-row: 1;
    overflow: hidden;
}


#buttons {
    @media (min-aspect-ratio: 1/1) {
        grid-row: 5;
    }
    /*Mobile*/
    @media (max-aspect-ratio: 1/1) {
        grid-row: 4;
    }

    display: grid;
    grid-template-columns: 7fr 1fr 7fr;
    grid-template-rows: 1fr;
}

#buttons > * {
    grid-row: 1;
    border-radius: 15px;
    border-color: white;
    border-style: hidden;
    background-color: #FFFFFD;
    cursor: pointer;
}

#buttons > *:hover {
    background-color: var(--button-hover-color);
}

#markButton {
    grid-column: 1 !important;
}

#confirmButton {
    grid-column: 3 !important;
}

#playerContainer * {
    grid-column: 2;
}

#textContainer {
    grid-row: 1;
    /*Desktop*/
    @media (min-aspect-ratio: 1/1) {
        grid-column: 4;
    }
    /*Mobile*/
    @media (max-aspect-ratio: 1/1) {
        grid-column: 2;
        max-height: 60vh;
        overflow-y: scroll;
    }
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 20fr 1fr;
    grid-template-rows: 1fr 30fr 1fr;
}

#textFields {
    grid-column: 2;
    grid-row: 2;
    background-color: white;
}

#textFields * {
    background-color: white;
    /*margin-top: 0;*/
}

.text {
    text-transform: uppercase;
    font-family: sans-serif;
    background-color: white;
}

.controls {
    @media (min-aspect-ratio: 1/1) {
        background-color: #FFFFFD;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        cursor: pointer;
    }
    /*Mobile*/
    @media (max-aspect-ratio: 1/1) {
        background-color: #FFFFFD;
        width: 75px;
        height: 75px;
        border-radius: 75px;
        cursor: pointer;
    }
}


.selected  {
    text-decoration-line: underline;
}

.marked {
    color: red !important;
}

.accepted {
    color: green !important;
}

.muted {
    box-sizing: border-box;
    border: 4px red solid !important;
}

.muted::after {
    content: "";
    display: inline-block;
    rotate: 180deg;
    background-color: red !important;
    height: 12px;
    width: 12px;
    position: relative;
    margin-left: 8px !important;
    margin-top: 7px !important;
    border-top: white 8px solid;
    border-left: red 12px solid !important;
    border-bottom: white 8px solid;
}

.importantText {
    background-color: red !important;
    font-weight: bold;
    text-decoration-line: underline;
}